/AreaCircle.class
/AsciiValueCharacter.class
/Calculation.class
/Class.class
/DollarToRupee.class
/HelloName.class
/LeapYearChecker.class
/MonthDays.class
/NumberGuess.class
/ReverseSum.class
/Swap.class
/SwapNumber.class
/Table.class
/LinearSearch.class
